$gray0: #F8F9FA;
$gray1: #D9E1E8;
$gray2: #9BAEC8;
$gray3: #454D5B;
$gray4: #282C37;
$blue0: #cbe4f5;
$blue1: #8bc3ea;
$blue2: #2b91d9;
$blue3: #2172ab;
$blue4: #144364;
$indigo0: #d4d7f7;
$indigo1: #9ba1ed;
$indigo2: #2b39d9;
$indigo3: #212ca9;
$indigo4: #131960;
$violet0: #e2d4f7;
$violet1: #bc9aed;
$violet2: #732bd9;
$violet3: #5a21aa;
$violet4: #331361;
$fuschia0: #f4d3f7;
$fuschia1: #e59aec;
$fuschia2: #ca2bd9;
$fuschia3: #9f22ab;
$fuschia4: #5e1465;
$pink0: #f7d4e8;
$pink1: #ed9aca;
$pink2: #d92b91;
$pink3: #ab2272;
$pink4: #651443;
$red0: #f7d4d7;
$red1: #ed9ca2;
$red2: #d92b39;
$red3: #ab222d;
$red4: #65141a;
$orange0: #f5ddcb;
$orange1: #eab28b;
$orange2: #d9732b;
$orange3: #ab5a22;
$orange4: #653514;
$yellow0: #f4f0c3;
$yellow1: #e8df7e;
$yellow2: #d9cb2b;
$yellow3: #aca122;
$yellow4: #676114;
$lime0: #e1f4c5;
$lime1: #bde881;
$lime2: #91d92b;
$lime3: #73ac22;
$lime4: #456714;
$green0: #cff5cc;
$green1: #93ea8b;
$green2: #3ad92b;
$green3: #2eac22;
$green4: #1b6714;
$teal0: #cbf5dd;
$teal1: #8aeab2;
$teal2: #2bd974;
$teal3: #22ac5c;
$teal4: #146737;
$cyan0: #caf5f2;
$cyan1: #89e9e2;
$cyan2: #2bd9cb;
$cyan3: #22aca1;
$cyan4: #146761;
